/* Fonts a importar */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    margin: 0;
    padding: 0;
}

/* ===================================== */
/* Colores y elementos a usar */

:root {
    /* -- Colores -- */
    --Amarillo1: #FDEEDC;
    --Amarillo2: #FFD8A9;
    --Amarillo3: #F1A661;
    --Amarillo4: #E38B29;

    --Azul1: #2C3333;
    --Azul2: #395B64;
    --Azul3: #A5C9CA;
    --Azul4: #A5C9CA;

    --Gris1: #2C3639;
    --Gris2: #3F4E4F;


    /* -- Box-Shadow -- */
    --box1: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --box2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --box3: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --box4: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

/* ul */
ul {
    list-style: none;
}

/* Letras */
h1 {
    font-family: 'Quicksand';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 6.5vh;
}

h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Quicksand';
}


a {
    text-decoration: none !important;
}

.a-ref {
    color: #fff !important;
}

/* ========================================== */
/*Modal */
.icon-modal {
    z-index: 100 !important;
    position: absolute;
    width: 100%;
}

#modal {
    display: flex;
    justify-content: left;
    align-items: top;
    z-index: 100;
}

.modal {
    width: 90%;
    position: fixed;
    top: 1vh;
    left: 10vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

#btn-modal:checked~.modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    z-index: 100;
    width: 100%;
    height: 600px;
    margin: auto;
    transition: all 500ms ease;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(222, 255, 241, 1) 0%, rgba(128, 255, 239, 1) 16%, rgba(79, 162, 184, 1) 56%, rgba(24, 54, 78, 1) 100%);

    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal:checked~.modal .contenedor {
    transform: translateY(0%);
}

.contenedor header {
    width: 100%;
    height: 15%;
    background-position: center;
    background: url('/PagWeb/images/textured_paper.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor label {
    position: absolute;
    top: 1rem;
    right: 40px;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Quicksand';
}

header {
    color: #fff;
    text-transform: initial;
    letter-spacing: 40px;
}

.subtile {
    padding: 8px;
    text-align: center;
}

.subtile p {
    font-family: 'Quicksand';
    letter-spacing: 1px;
    font-size: 3rem;
}

#btn-modal {
    display: none;
}

.lbl-modal {
    margin-top: 6px;
    width: 5.4%;
    background: rgb(41, 41, 41);
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 76px;
    position: absolute;
    height: 11vh;
    float: left;
}

.col-icon {
    font-size: 50px;
    color: #fff;
    margin-left: -5px;
    margin-top: -5px;
}

.contenido {
    width: 100%;
    background-size: cover;
    background: url('/PagWeb/images/Storyboard_Escena1.1.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.informacion-conted {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-family: 'Quicksand';
}

.info1 h4 {
    color: #fff;
    text-align: left;
    font-family: '';
    letter-spacing: 1px;
    font-size: 40px;
    margin-left: -14px;
    font-weight: 600;
    margin-top: 4vh;
    text-transform: initial;
}

.list__show {
    color: #fff;
    letter-spacing: 1px;
    margin-left: -14px;
    padding: 5px 0;
    text-align: left;
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 100;
    line-height: 6vh;
}

.info-a {
    color: #fff;
    letter-spacing: 1px;
    margin-left: -14px;
    padding: 5px 0;
    text-align: left;
    font-family: 'Quicksand';
    font-size: 32px;
    font-weight: 100;
    line-height: 4vh;
}

.info-a:hover {
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #e5e5e5;
}


/* ========================================== */
/* Redes Sociales */
.red {
    position: fixed;
    top: 400px;
    z-index: 100;
    right: 0;
}

.social-red {
    margin-bottom: 2.5vh;
    width: 55px;
}

#facebook a {
    background: linear-gradient(349deg, rgba(20, 39, 155, 1) 0%, rgba(61, 86, 178, 1) 55%);
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#whatsapp a {
    background: linear-gradient(32deg, rgba(28, 103, 88, 1) 0%, rgba(61, 131, 97, 1) 55%);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#instagram a {
    background: linear-gradient(252deg, rgba(253, 132, 31, 1) 0%, rgba(232, 91, 39, 1) 41%, rgba(214, 42, 64, 1) 66%, rgba(156, 44, 119, 1) 100%);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#facebook a:hover {
    background: linear-gradient(196deg, rgba(20, 39, 155, 1) 0%, rgba(61, 86, 178, 1) 55%);
}

#whatsapp a:hover {
    background: linear-gradient(225deg, rgba(28, 103, 88, 1) 0%, rgba(61, 131, 97, 1) 55%);
}

#instagram a:hover {
    background: linear-gradient(63deg, rgba(253, 132, 31, 1) 0%, rgba(232, 91, 39, 1) 41%, rgba(214, 42, 64, 1) 66%, rgba(156, 44, 119, 1) 100%);
}


#facebook a:hover,
#whatsapp a:hover,
#instagram a:hover {
    width: 100%;
    padding: 10px 25px;
    transition: all .4s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    right: 15px;
    margin-bottom: 6vh;
    z-index: 1;
    border-radius: 5px;
}

.bx-red-social {
    font-size: 20px;
    display: block;
    margin: auto;
}

/* ================================= */
/* Video */
.hide {
    display: none;
}

.initial {
    display: block;
}

.videos {
    position: relative;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
}

.videos video {
    height: 100vh;
    width: 100%;
    background: black;
}


.menu {
    max-width: 100%;
    height: 1149px;
    background-color: rgba(0, 0, 0, 0.66);
}

.menu,
.menu-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    width: 100%;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
    line-height: 5vh;
}

.menu,
.menu a {
    color: #fff;
}

.menu a:hover {
    cursor: pointer;
}

.menu ul li {
    list-style-type: none;
}

@media only screen and (min-width: 768px) {
    .menu ul li {
        display: inline-block;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 450px) {
    .show-below-450 {
        display: block !important;
        color: red;
        padding-left: 0;
        padding-right: 0;
    }
}

/* ========================================== */
/* CtrolsVideos */
.CtrolsVideos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Btn Play */
.play {
    display: flex;
    align-items: stretch;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

.play:hover .fil1 {
    fill: #fff;
}

.ImgsPlayPause {
    object-fit: cover;
    width: 6%;
    justify-content: right;
}

.PlayBtn {
    position: fixed;
    margin-left: -15vh;
    margin-top: 12px;
}

.pauseBtn {
    margin-right: 15vh;
}


/* Btn mute / unmute  */
.mute {
    display: flex;
    align-items: stretch;
}

#btn-volumen,
#btn-mute {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 5rem;
    object-fit: cover;
}

.ImgsVolumenMute {
    object-fit: cover;
    width: 6%;
    justify-content: right;
}

/* ==================================== */
/* @MEDIA */
@media (min-width: 360px) {
    .modal {
        width: 24rem;
        left: 1px;
    }

    .subtile p {
        font-size: 25px;
        margin-top: 12px;
        margin-right: 21px;
    }

    .modal-content {
        margin: 43% auto !important;
        padding: 12px !important;
        max-width: 100% !important;
    }

    .card-text {
        font-size: 16px !important;
    }

    .info1 h4 {
        text-align: center;
        font-size: 30px;
        margin-left: 0;
    }

    .list__show {
        text-align: center;
        font-size: 18px;
        line-height: 5vh;
        margin-left: 0;
    }

    .info2 {
        margin-bottom: 20vh;
        margin-top: 42px;
    }

    .info-a {
        font-size: 28px;
    }

    .lbl-modal {
        margin-top: 15px;
        width: 19%;
        height: 12.5vh;
        margin-left: 10px;
    }

}

@media (min-width: 640px) and (min-height: 360px) {
    .lbl-modal {
        margin-top: 15px;
        width: 10%;
        height: 17.5vh;
        margin-left: 10px;
    }

    .col-icon {
        font-size: 49px;
        color: #fff;
        margin-left: -7px;
        margin-top: -7px;
    }

    /* #play-volume {
        width: 6rem;
        height: 6rem;
    } */
}
@media only screen and (max-width: 600px) {
    .col-icon {
        font-size: 43px;
        color: #fff;
        margin-left: -11px;
        margin-top: -10px;
    }
    .lbl-modal {
        margin-top: 6px;
        width: 12%;
        height: 14.5vh;
        margin-left: 10px;
    }
    .modal {
        width: 90%;
        left: 10vh;
    }
    
    .informacion-conted {
        flex-wrap: wrap;
    }
    /* Btn Play / Pause */
    .ImgsPlayPause {
        object-fit: cover;
        width: 12%;
        justify-content: right;
    }

    .PlayBtn {
        position: fixed;
        margin-left: -17vh;
        margin-top: 12px;
    }

    .pauseBtn {
        margin-top: -32px;
        margin-right: 15vh;
    }

    /* Volumne / mute */
    #btn-volumen, #btn-mute{
        width: 3rem;
    }
}

@media (min-width: 824px) {
    .lbl-modal {
        margin-top: 15px;
        width: 7.8%;
        height: 17.5vh;
        margin-left: 10px;
    }
    .modal {
        width: 90%;
        left: 10vh;
    }
    
    .informacion-conted {
        flex-wrap: wrap;
    }
    /* Btn Play / Pause */
    .ImgsPlayPause {
        object-fit: cover;
        width: 9%;
        justify-content: right;
    }

    .PlayBtn {
        position: fixed;
        margin-left: -23vh;
        margin-top: 12px;
    }

    .pauseBtn {
        margin-right: 23vh;
    }
}


@media (min-width: 1200px) {
    .modal {
        width: 90%;
        left: 10vh;
    }
    .videos video {
        height: 100vh;
        width: 100%;
    }

    .lbl-modal {
        margin-top: 15px;
        width: 5.4%;
        height: 11vh;
        margin-left: 10px;
    }

    .list__show {
        text-align: left;
        font-size: 22px;
        line-height: 6vh;
        margin-left: -14px;
    }

    .info1 h4 {
        text-align: left;
        font-size: 40px;
        margin-left: -14px;

    }

    .informacion-conted {
        flex-direction: row;
    }

    /* Btn Play / Pause */
    .PlayBtn {
        position: fixed;
        margin-left: -15vh;
        margin-top: 12px;
    }
    
    .ImgsPlayPause {
        object-fit: cover;
        width: 6%;
        justify-content: right;
    }

    .ImgsPlayPause {
        object-fit: cover;
        width: 6%;
        justify-content: right;
    }
    
    .pauseBtn {
        margin-right: 15vh;
    }

}

@media (min-width: 1400px) {}



@media only screen and (max-width: 600px) {}


.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background: #ffffffae;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    max-width: 70%;
}

.modal-content p {
    margin-bottom: 4vh;
    text-align: center;
}

.cont-modals {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.redes-socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Red-social {
    margin-right: 8px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

/* Part of the card */
.card-options {
    width: 32%;
    height: 30vh;
    border-radius: 4px;
    border: none;
}

.card-options:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(2vh);
}

/* =========================== */
/* imgs Cards */
.card {
    background: url('/PagWeb/images/dise単os\ storyboard_Escena\ 5.1\ \(Protesta\)-20.png');
    background-size: cover;
}

.card2 {
    background: url('/PagWeb/images/dise単os\ storyboard_Escena\ 3.4\ \(Creacion\ CDP\).png');
    background-size: cover;
}

.card3 {
    background: url('/PagWeb/images/dise単os\ storyboard_Escena\ 4.1\ \(llegan\ armados\).png');
    background-size: cover;
}

/* imgs Cards Prueba 2 */
.card4 {
    background: url('/PagWeb/images/dise単os\ storyboard_Escena\ 5.1\ \(Protesta\)-19.png');
    background-size: cover;
}

.card5 {
    background: url('/PagWeb/images/Sce4.jpg');
    background-size: cover;
}

/* imgs Cards Prueba 3 */
.socialRed {
    transform: translateX(4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-primary {
    padding: 8px;
    margin-top: -15px;
    background-color: #E38B29;
    border: none;
    color: #e5e5e5;
    letter-spacing: 1px;
    line-height: 4vh;
    border-radius: 2px;
}

/* =========================== */
/* conts cards */
.br-cardbod {
    backdrop-filter: blur(3x);
    width: 100%;
    height: 30vh;
    border-radius: 4px;
    position: relative;
}

.card-body {
    position: relative;
    color: #fff;
    top: 13vh;
    justify-content: center;
    align-items: center;
}

.br-cardbod {
    background: #262626c2;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}