body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none !important;
}

.a-ref {
    color: #fff !important;
}

#play-icon {
    position: absolute;
    top: 0px;
    width: 8rem;
    height: 8rem;
}

#play-volume {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 8rem;
    height: 8rem;
}
#btn-show {
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    right: 100px;
}

/* ========================================== */
/*Modal */
#modal {
    display: flex;
    justify-content: left;
    align-items: top;
    z-index: 100;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

#btn-modal:checked~.modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    z-index: 100;
    width: 85%;
    height: 600px;
    margin: auto;
    transition: all 500ms ease;
    border-radius: 10px;
    background: url('/images/Storyboard_Escena1.1.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal:checked~.modal .contenedor {
    transform: translateY(0%);
}

.contenedor header {
    width: 100%;
    height: 15%;
    background-position: center;
    background: url('/images/textured_paper.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor label {
    position: absolute;
    top: 1rem;
    right: 40px;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Quicksand';
}

header {
    color: #fff;
    text-transform: initial;
    letter-spacing: 40px;
}

.subtile {
    padding: 8px;
    text-align: center;
}

.subtile p {
    font-family: 'Quicksand';
    letter-spacing: 1px;
    font-size: 3rem;
}

#btn-modal {
    display: none;
}

.lbl-modal {
    margin-top: 6px;
    width: 5.4%;
    background: rgb(41, 41, 41);
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 76px;
    position: absolute;
    height: 11vh;
    float: left;
}

.col-icon {
    font-size: 50px;
    color: #fff;
    margin-left: -5px;
    margin-top: -5px;
}

.informacion-conted {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-family: 'Quicksand';

}

.info1 h4 {
    color: #fff;
    text-align: left;
    font-family: '';
    letter-spacing: 1px;
    font-size: 40px;
    margin-left: -14px;
    font-weight: 600;
    margin-top: 4vh;
    text-transform: initial;
}

.list__show {
    color: #fff;
    letter-spacing: 1px;
    margin-left: -14px;
    padding: 5px 0;
    text-align: left;
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 100;
    line-height: 6vh;
}

.info-a {
    color: #fff;
    letter-spacing: 1px;
    margin-left: -14px;
    padding: 5px 0;
    text-align: left;
    font-family: 'Quicksand';
    font-size: 32px;
    font-weight: 100;
    line-height: 4vh;
}

.info-a:hover {
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #e5e5e5;
}

/* @media only screen and (min-width:320px) and (max-width:768px) {
    .contenedor {
        width: 15%;
    }
} */



/* ========================================== */
/* Redes Sociales */
.red {
    position: fixed;
    top: 400px;
    z-index: 100;
    right: 0;
}

.social-red {
    margin-bottom: 2.5vh;
    width: 55px;
}

#facebook a {
    background: linear-gradient(349deg, rgba(20, 39, 155, 1) 0%, rgba(61, 86, 178, 1) 55%);
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#whatsapp a {
    background: linear-gradient(32deg, rgba(28, 103, 88, 1) 0%, rgba(61, 131, 97, 1) 55%);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#instagram a {
    background: linear-gradient(252deg, rgba(253, 132, 31, 1) 0%, rgba(232, 91, 39, 1) 41%, rgba(214, 42, 64, 1) 66%, rgba(156, 44, 119, 1) 100%);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#facebook a:hover {
    background: linear-gradient(196deg, rgba(20, 39, 155, 1) 0%, rgba(61, 86, 178, 1) 55%);
}

#whatsapp a:hover {
    background: linear-gradient(225deg, rgba(28, 103, 88, 1) 0%, rgba(61, 131, 97, 1) 55%);
}

#instagram a:hover {
    background: linear-gradient(63deg, rgba(253, 132, 31, 1) 0%, rgba(232, 91, 39, 1) 41%, rgba(214, 42, 64, 1) 66%, rgba(156, 44, 119, 1) 100%);
}


#facebook a:hover,
#whatsapp a:hover,
#instagram a:hover {
    width: 100%;
    padding: 10px 25px;
    transition: all .4s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    right: 15px;
    margin-bottom: 6vh;
    z-index: 1;
    border-radius: 5px;
}

.bx-red-social {
    font-size: 20px;
    display: block;
    margin: auto;
}

/* ========================== */
/* Video */
video {
    width: 100%;
    height: 90vh;
    margin-top: 15vh;
}

img {
    width: 100%;
}
/* ========================================= */
/* parte de video selections */




