body {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none !important;
}

.a-ref {
    color: #fff !important;
}

/* ========================================== */
/*Modal */
#modal {
    display: flex;
    justify-content: left;
    align-items: top;
    z-index: 100;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

#btn-modal:checked~.modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    z-index: 100 !important;
    width: 100%;
    height: 600px;
    margin: auto;
    transition: all 500ms ease;
    border-radius: 10px;
    background: url('/images/Storyboard_Escena1.1.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal:checked~.modal .contenedor {
    transform: translateY(0%);
}

.contenedor header {
    width: 100%;
    height: 15%;
    background-position: center;
    background: url('/images/textured_paper.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor label {
    position: absolute;
    top: 1rem;
    right: 40px;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Quicksand';
}

header {
    color: #fff;
    text-transform: initial;
    letter-spacing: 40px;
}

.subtile {
    padding: 8px;
    text-align: center;
}

.subtile p {
    font-family: 'Quicksand';
    letter-spacing: 1px;
    font-size: 3rem;
}

#btn-modal {
    display: none;
}

.lbl-modal {
    width: 7%;
    background: rgb(41, 41, 41);
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 76px;
    position: absolute;
    height: 10vh;
}

.col-icon {
    font-size: 60px;
    color: #fff;
    margin-left: 0.5vh;
    margin-top: 4px;
}

.informacion-conted {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-family: 'Quicksand';

}

.info1 h4 {
    color: #fff;
    text-align: left;
    font-family: '';
    letter-spacing: 1px;
    font-size: 40px;
    margin-left: -14px;
    font-weight: 600;
    margin-top: 4vh;
    text-transform: initial;
}

.list__show {
    color: #fff;
    letter-spacing: 1px;
    margin-left: -14px;
    padding: 5px 0;
    text-align: left;
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 100;
    line-height: 4vh;
}

.info-a {
    color: #fff;
    letter-spacing: 1px;
    margin-left: -14px;
    padding: 5px 0;
    text-align: left;
    font-family: 'Quicksand';
    font-size: 32px;
    font-weight: 100;
    line-height: 4vh;
}

.info-a:hover {
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #e5e5e5;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .contenedor {
        width: 95%;
    }
}



/* ========================================== */
/* Redes Sociales */
.red {
    position: fixed;
    top: 400px;
    z-index: 100;
    right: 0;
}

.social-red {
    margin-bottom: 2.5vh;
    width: 55px;
}

#facebook a {
    background: linear-gradient(349deg, rgba(20, 39, 155, 1) 0%, rgba(61, 86, 178, 1) 55%);
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#whatsapp a {
    background: linear-gradient(32deg, rgba(28, 103, 88, 1) 0%, rgba(61, 131, 97, 1) 55%);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#instagram a {
    background: linear-gradient(252deg, rgba(253, 132, 31, 1) 0%, rgba(232, 91, 39, 1) 41%, rgba(214, 42, 64, 1) 66%, rgba(156, 44, 119, 1) 100%);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all .4s ease;
}

#facebook a:hover {
    background: linear-gradient(196deg, rgba(20, 39, 155, 1) 0%, rgba(61, 86, 178, 1) 55%);
}

#whatsapp a:hover {
    background: linear-gradient(225deg, rgba(28, 103, 88, 1) 0%, rgba(61, 131, 97, 1) 55%);
}

#instagram a:hover {
    background: linear-gradient(63deg, rgba(253, 132, 31, 1) 0%, rgba(232, 91, 39, 1) 41%, rgba(214, 42, 64, 1) 66%, rgba(156, 44, 119, 1) 100%);
}


#facebook a:hover,
#whatsapp a:hover,
#instagram a:hover {
    width: 100%;
    padding: 10px 25px;
    transition: all .4s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    right: 15px;
    margin-bottom: 6vh;
    z-index: 1;
    border-radius: 5px;
}

.bx-red-social {
    font-size: 20px;
    display: block;
    margin: auto;
}

/* ========================== */
/* Video */

.my-video-dimensions {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    margin-top: 12vh;
}

.vjs-poster {
    background-image: url('/images/ChùGa.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.video-js .vjs-tech {
    left: -85px !important;
    width: auto !important;
    height: auto !important;
    top: 0;
}

.video-js .vjs-control-bar {
    width: 80rem !important;
    left: -82px !important;
    bottom: -20.6vh !important;
}

.video-js .vjs-picture-in-picture-control {
    display: none;
}

@media (min-width: 1400px) {
    .video-js .vjs-control-bar {
        width: 89rem !important;
        left: -78px !important;
        bottom: -7.6vh !important;
    }
}

/* ====================== */
/* Btn */
.btnNext {
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 50px;
    top: -18vh;
    right: 6vh;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    color: #e5e5e5;
    font-weight: 600;

    font-size: 32px;
    background: var(--Gris1);
}


/* ========================================= */
/* parte de video selections */
video {
    width: 100%;
    height: 90vh;
}

.hide {
    display: none;
}

img {
    width: 100%;
    vertical-align: top;
}

.partVideo {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7px 30px;
    grid-row-gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.fila3 {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.izquierda {
    display: grid;
    grid-template-columns: repeat(5, 30px) 250px;
    grid-column-gap: 25px;
    align-items: center;

}

.barra1 {
    background-color: silver;
    height: 6px;
    margin-bottom: 1vh;
    border-radius: 10px;
}

.barra2 {
    background-color: crimson;
    height: 100%;
    width: 0%;
}